

@model Appointment

<form asp-action="AddAppointmentInfo" method="post">
    <label asp-for="DateAndTime">Date: @ViewBag.Time</label>
    <input value="@ViewBag.Time" asp-for="DateAndTime"/><br />

    @*<label asp-for="DateAndTime">Date: </label>
    <input value="@ViewBag.Time" readonly /><br />*@

    <label asp-for="Group.GroupName">Group Name: </label>
    <input asp-for="Group.GroupName" /><br />

    <label asp-for="GroupSize">Group Size: </label>
    <input asp-for="GroupSize" /><br />

    <label asp-for="Group.Email">Email: </label>
    <input asp-for="Group.Email" /><br />

    <label asp-for="Group.PhoneNumber">Phone Number: </label>
    <input asp-for="Group.PhoneNumber" /><br />

    <button type="submit">Schedule Appointment</button>
</form>

