

@model Appointment

<form asp-action="AddAppointmentInfo" method="post">
    <label asp-for="DateAndTime">Date: </label>
    <input value="@ViewBag.Time" asp-for="DateAndTime" readonly /><br />

    <label asp-for="GroupName">Group Name: </label>
    <input asp-for="GroupName" /><br />

    <label asp-for="GroupSize">Group Size: </label>
    <input asp-for="GroupSize" /><br />

    <label asp-for="Email">Email: </label>
    <input asp-for="Email" /><br />

    <label asp-for="PhoneNumber">Phone Number: </label>
    <input asp-for="PhoneNumber" /><br />

    <button type="submit">Schedule Appointment</button>
</form>

