@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Temple Scheduler App</h1>
    <h3>We are excited to have you come visit the temple</h3>
    <img src="~/img/LaytonTemple.jpg" /><br />
    <a href="@Url.Action("ScheduleAppointment")" class="elements">Signup for an appointment</a>
</div>