@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model AppointmentListViewModel

@foreach (DateTime time in Model.AvailableTimes)
{
    bool Available = !Model.Appointments.Any(q => q.DateAndTime == time);

    if (Available)
    {
        <div class="container">
            <form asp-action="AddAppointmentInfo" method="get">
                <input type="hidden" value="@time" name="ScheduledTime" />
                <button class="btn" type="submit">@time</button>
            </form>
        </div>
    }
    


}