@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model AppointmentListViewModel


@foreach (Appointment appointment in Model.Appointments)
{
    <div>@appointment.AppointmentId;</div>
    <div>@appointment.Email;</div>
}